

* {
    margin: 0;
    padding: 0;
  }

html, body{
    width: 100%;
    height: 100vh;
  }
  
body {
    background-color: #D8D4D5;
    font-family: 'Crimson Text', serif;
    overflow-x: hidden;
  }


/* Galeria */

.galeria {
    display: inline-block;
    justify-content: center;
    border-style: groove;
    background-color: none;
    border-radius: 10px;
    margin: 80px 30px 60px 30px;
    box-shadow: 10px 10px 2px #acad94;
    flex-wrap: wrap;
  }
  
  .pinturas {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    padding: 5px;
    margin: 20px;
    border: 5px;
    border-radius: 30px;
  }
  .galeria:hover {  
    transition: .2s ease-in;
    background-color: #747552;
  }
  
  .textoPinturas {
    display: flex;
    justify-content: center;
    font-size: large;
    font-style: oblique;
    color: #ACAD94;
    padding-bottom: 10px;
  }
  
  .textoPinturas2 {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-size: small;
    color: #ACAD94;
    padding-bottom: 20px;
  }